.ranCard{
    align-self: center;
    width: 90px;
    height: 40px;
    border: 0;
    background-color: transparent;
    background-image: url(https://static.vecteezy.com/system/resources/previews/011/097/762/non_2x/shuffle-icon-design-simple-multimedia-player-for-ui-ux-element-or-application-design-music-or-video-player-button-png.png);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 30px;
    transition: transform 0.2s;
}
.ranCard:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.ranCard:active{
    cursor:pointer;
    transform: scale(0.90);
}