.navBar{
    display: flex;
    position: sticky;
    z-index: 9999;
    top: 0;
    align-content: center;
    justify-content:space-around;
    height: 80px;
    width: 100%;
    background-color: white;
}